{% extends 'layout.html' %}

{% block title %}Credits{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Credits</h1>
    <p>Photo Amaze is created by <a href="//davidlebech.com">David Volquartz Lebech</a>. You can reach me at <a href="mailto:david@lebech.info">david@lebech.info</a>.</p>
    <h2>API info</h2>
    <p>This product uses the Flickr API but is not endorsed or certified by Flickr.</p>
    <h2>Third party software</h2>
    <p>Photo Amaze is created using some cool open source projects.</p>
    <p>
    <a href="http://threejs.org/">Three.js</a>. <small>Makes the 3D setup a bit easier.</small><br>
    Copyright &copy; 2010-2017 three.js authors<br>
    MIT license
    </p>
    <p>
    <a href="http://getbootstrap.com/">Bootstrap</a>. <small>Makes the website design less painful to deal with.</small><br>
    Copyright &copy; 2011-2016 Twitter, Inc<br>
    MIT license
    </p>
    <p>
    <a href="https://jquery.org">jQuery</a>. <small>It just makes things easier.</small><br>
    Copyright &copy; JS Foundation and other contributors<br>
    Apache 2.0 license
    </p>
    <p>
    <a href="http://fontawesome.io">Font Awesome</a>. <small>Adds a nice iconic touch (pun intended).</small><br>
    Font Awesome by Dave Gandy &dash; <a href="http://fontawesome.io">http://fontawesome.io</a><br>
    The font itself is released under a <a href="http://scripts.sil.org/OFL">SIL OFL 1.1 license</a>.<br>
    The CSS for the font is release under MIT license.
    </p>
    <p>
    <a href="http://startbootstrap.com">Start Bootstrap</a>. <small>The website theme.</small><br>
    Copyright 2013-2014 Iron Summit Media Strategies<br>
    Apache 2.0 license
    </p>
    <h2>License texts</h2>
    <h4>Apache 2.0 license notice</h4>
    <pre>Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.</pre>
    <hr>
    <h4>MIT license</h4>
    <pre>The MIT License

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</pre>
  </div>
</div>
{% endblock %}

{% block footer %}
{% set include_social = True %}
{% include 'footer.html' %}
{% endblock %}
